
body
{
    margin: 500px;
    border:2px solid grey;
    /* border-color: rgb(0, 247, 255); */
    padding-left: 140px ;
    border-radius:15px;
    
    
    
}


.twitterKiBird
{
    padding-left: 65px;
    height: 75px;
    width: 100px;
    
}
.container
{
    display: flex;
    
}

.googlee
{
    display: inline;
    width: 275px;
    font-size: 20px;
    font-family:Roborto ;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    color: black;
    
    border: 2px solid grey;
    margin-bottom: 10px;
    
}
.applee
{
    display: inline;
    width: 275px;
    font-size: 20px;
    font-family:Roborto ;
    height: 45px;
    
    border-radius: 50px;
    background-color: white;
    color: black;
    
    border: 2px solid grey; 
}

.GoogleImage
{
    width: 15px;
    height: 15px;
}
.AppleImage
{
    width: 35px;
    height: 35px;
}

.ProfileInput
{
    width: 285px;
    height: 40px;
    border: 1px;
    border-style: solid;
    border-color:black;
    border-radius: 7px;
    margin-bottom: 10px;
}

.Next
{
    width: 300px;
    height: 45px;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
}
.Forgot
{
    width: 300px;
    height: 45px;
    background-color: aliceblue;
    color: black ;
    border-radius: 50px;
}
.foot
{
    padding-left: 50px;
    display: flex;
   
}
.signUp
{
    color:rgba(0, 64, 255, 0.534);
    text-decoration-line: none;
}